<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>水平垂直居中：flex + justify content+align-items</title>
    <style>
        .parent {
            height: 200px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;

        }

        .child {
            height: 100px;
            width: 100px;

            text-align: center;
            line-height: 100px;
            background-color: yellowgreen;
        }
    </style>
</head>

<body>
    <div class="parent">
        <div class="child">DEMO</div>
    </div>
</body>

</html>